<div #originRef (click)="showPopover(originRef)"
    [class.bg-hover]="dropdownOpen"
    class="flex items-center rounded cursor-pointer relative trans-ease-out select-none py-1 pr-1 pl-3 hover:bg-hover"
    matRipple>
  <ng-container >
    <div class="body-1 font-medium leading-snug ltr:mr-3 rtl:ml-3" fxHide.xs> {{userData?.nombres }} </div>
    <div class="rounded-full h-9 w-9 flex items-center justify-center text-primary bg-primary-light">
      <img [src]="userData?.urlFoto" alt="user-image" class="avatar h-8 w-8 align-middle"/>
    </div>
  </ng-container>	 
  
</div>