<div class="footer" fxLayout.gt-sm="row" fxLayout.lt-md="column">
  <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign.gt-sm="start center" fxFlex.lt-md="2 0 auto" 
    fxLayoutAlign.lt-md="center center" vexContainer>
    <img src="../../../assets/espe.ico" alt="ESPE" width="27px" />
    <div class="ltr:ml-2 rtl:mr-4">
      Universidad de las Fuerzas Armadas ESPE {{ test | date: 'yyyy' }}
    </div>
  </div>
  <div class="miespe" fxFlex.gt-sm="0 0 calc(320px+100px)" fxFlex.lt-md="2 0 auto" 
      fxLayout="row" fxLayoutAlign.gt-sm="start center" fxLayoutAlign.lt-md="center center" vexContainer>
    <img src="../../../assets/miespe.png" alt="ESPE" width="20px" />
    <div class="ltr:ml-2 rtl:mr-4">
      Versión: {{version}} &copy; Todos los derechos reservados.
    </div>
  </div>
</div>